.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    height:100vh;
    width: 100vw;
    margin:none;
    position: relative;
    /* top:50px; */
    
}

@media (max-width:375px){
    .container{
        grid-template-columns:repeat(1,1fr);
        position: relative;
        top: 200px;
        
    }

    .p1{
        font-size:x-large;
        position: relative;
        left: 30px;
    }

    .msg2{
        font-size: 60px;
    }

    .btn{
        position: relative;
        left: 110px;
    }
   
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
}
.box1{
   
    place-self: center;
    position: relative;
    top:30px;
}

.box2{
    display: grid;
    place-self: center;
    position: relative;
    bottom: 120px;
    padding-left: 50px;
}

.p1{
    position: relative;
    right: 100px;
    top:110px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

.msg2{
    position: relative;
    right: 80px;
    bottom: 50px;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.7;
}
.img1{
    padding-left: 70px;

}
.btn{
    width:190px;
    height: 60px;
    padding:10px;
    border-radius: 30px;
    justify-content: center;
    background-color: hsl(300, 69%, 71%);
    color: white;
    border:none;
    box-shadow: 3px 3px 5px 2px hsl(257, 48%, 41%);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    bottom: 100px;
    right:20px;
}

.icon{
    color: white;
}


.cat{
    display:grid;
    display: flex;
}

.icon{
    position: relative;
    top: 10px;
    left: 15px;
}

.icon:hover {
    color:hsl(300, 69%, 71%);
}

.div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    border: 1px solid white;
    margin-right: 20px;
    position: relative;
    top:70px;
    left: 300px;
    
    
}

.div:hover {
    border: 1px solid hsl(300, 69%, 71%);
}


.msg{
    position:relative;
    bottom: 350px;
}